<!DOCTYPE html>
<html>
    <head>
        <title>FTC Scrimmage - Analytics</title>
        <link rel="icon" type="image/png" href="/icons/logo.png"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
        <link href="/globals.css" rel="stylesheet">
        <link href="/analytics/analytics.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <span class="large">Team Count</span>
            <br/>
            <canvas id="users" class="graph"></canvas>
        </main>
        <script src="/utils/globals.js"></script>
        <script src="/components/header/header.js" type="module"></script>
        <script src="analytics.js" type="module"></script>
    </body>
</html>