<!DOCTYPE html>
<html>
    <head>
        <title>FTC Scrimmage - Dashboard</title>
        <link rel="icon" type="image/png" href="/icons/logo.png"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
        <link href="/globals.css" rel="stylesheet">
        <link href="/dashboard/dashboard.css" rel="stylesheet">
        <script type="module"> 
            import dateFnsTz from 'https://cdn.jsdelivr.net/npm/date-fns-tz@3.2.0/+esm'
        </script>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M1T130H4TQ"></script>
    <script>
        if (window.location.hostname != 'localhost') {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-M1T130H4TQ');
        }
    </script>
    <body>
        <main class="row sections align-start">
            <div class="menu column">
                <span class="ledium">View</span>
                <span>Scrimmages my team is hosting</span>
                <input id="hosts" type="checkbox" checked="true"></input>
                <p>Scrimmages my team is participating in</p>
                <input id="participations" type="checkbox" checked="true"></input>
                <button id="create">Create Scrimmage</button>
            </div>
            <div class="scrimmages column">
                <img id="loading" src="/loading.png"></img>
                <div id="scrimmages" class="row"></div>
            </div>
        </main>
        <div id="create-overlay" class="overlay">
            <button id="cancel">Cancel</button>
        </div>
        <script src="/utils/globals.js"></script>
        <script src="/components/header/header.js" type="module"></script>
        <script src="dashboard.js" type="module"></script>
    </body>
</html>